<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Access a DfE service
        </h1>

        <p>A DfE Sign-in account will allow you to access DfE online services for your organisation.</p>

        <h2 class="heading-medium">
            How do I access <%=locals.service.name%>?
        </h2>
        <p>An approver at your organisation will be able to provide you with access to <%=locals.service.name%>.</p>

        <h2 class="heading-medium">
            What is an approver?
        </h2>
        <p>An approver can create user accounts, add and remove services and update roles within organisations.</p>

        <h2 class="heading-medium">
            Find an approver
        </h2>
        <p>Your approver's details can be found in the <a href="<%=locals.urls.services%>/organisations">'My Organisations'</a> section of your DfE Sign-in account.</p>

        <h2 class="heading-medium">
            There are no approvers at my organisation
        </h2>
        <p>If there are no approvers at your organisation, an approver can be assigned by sending a signed letter to the <a href="/contact/approver/new-approver">Service Team</a>.</p>

        <details>
            <summary><span class="summary">Still having problems?</span></summary>
            <div class="panel panel-border-narrow">
                <p>If you are still having problems, please <a href="/contact/form">submit a support request</a>.</p>
            </div>
        </details>
    </div>
</div>
