<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Adding multiple organisations to your account
        </h1>
        <p>If you need to access services on behalf of two or more organisations, here’s how.</p>
        <h2 class="heading-medium">
            How to add an organisation
        </h2>
        <p>Complete the following steps for each organisation you’d like to add to your account.</p>

        <ul class="list list-number">
            <li>Choose ‘organisations’ from the navigation bar when signed in</li>
            <li>Choose ‘request an organisation’ from the actions list</li>
            <li>Search for and select your organisation</li>
            <li>Provide a reason why you need access to this organisation</li>
            <li>Await approval (this could take up to 5 days)</li>
        </ul>

        <h2 class="heading-medium">Who is responsible for approving my request?</h2>
        <p>An approver at the organisation will have to accept your request.</p>
        <p>An approver is someone at your organisation responsible for controlling who has access to
            DfE Sign-in and your organisation’s online services.</p>
        <p>It is usually a senior person, such as an administrator, manager, or headteacher.</p>

        <h2 class="heading-medium">I currently have several accounts for the organisations I manage, can I consolidate them?</h2>
        <p>Yes: you can manage all your organisations from the same DfE Sign-in account.</p>
        <p>For example, if you’ve come from a previous system where you needed a separate email
            address to manage each organisation, you can now merge these together, so that you can
            manage every organisation from a single email address and DfE Sign-in account.</p>
        <p>We recommend <a href="<%= locals.service ? `/contact/submit?type=service-access&service=${locals.service.name}` : "/contact/submit?type=add-org"%>">contacting our service team</a>.</p>

        <p>Our service team will need to know which email addresses you’ve used for various
            organisations. You will have to verify that you have access to these email addresses.</p>

    </div>
</div>
