<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Manage your users as an approver
        </h1>

        <p>You can manage users if you are an approver for your organisation.
        Approvers are responsible for the control and access to DfE Sign-in.</p>

        <h2 class="heading-medium">
            What can I do as an approver?
        </h2>
        <ul class="list list-bullet">
            <li>create user accounts</li>
            <li>add or remove user access to services and roles</li>
            <li>assign new approvers to your organisation</li>
        </ul>

        <h2 class="heading-medium">
            How do I add a user?
        </h2>
        <p>Approvers can invite users from the <a href="<%=locals.urls.services%>/approvals/users">'Users'</a> section of DfE Sign-in.</p>

        <h2 class="heading-medium">
            How do I add services and roles to a user?
        </h2>
        <p>Approvers can add services and roles to a user's account from the <a href="<%=locals.urls.services%>/approvals/users">Users</a> section of DfE Sign-in.</p>

        <h2 class="heading-medium">
            Become an approver
        </h2>
        <p>An approver can be assigned by providing a signed letter to the <a href="approver/new-approver">Service Team</a>.</p>

        <details>
            <summary><span class="summary">Still having problems?</span></summary>
            <div class="panel panel-border-narrow">
                <p>If you are still having problems, please <a href="/contact/submit?type=approver">submit a support request</a>.</p>
            </div>
        </details>
    </div>
</div>
