<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Manage your users as an approver
        </h1>

        <p>As an approver you are responsible for the control and access to DfE Sign-in for your organisation.</p>

        <h2 class="heading-medium">
            What can I do as an approver?
        </h2>
        <ul class="list list-bullet">
            <li>invite new users to DfE Sign-in</li>
            <li>add and remove user access to services</li>
            <li>add services to your DfE Sign-in account</li>
            <li>amend permission levels of a user to an approver</li>
        </ul>

        <h2 class="heading-medium">
            How do I add a user?
        </h2>

        <p>As an approver, you can add a user from the <a href="<%=locals.urls.services%>/approvals/users">Manage users</a> page followed by invite user.</p>
        <p>You can view users with a DfE Sign-in account linked to your organisation from the <a href="<%=locals.urls.services%>/approvals/users">Manage users</a> page.</p>

        <h2 class="heading-medium">
            How do I give a user access to services?
        </h2>

        <p>As an approver you can add services to your own account and a user's account within your organisation by selecting the user from <a href="<%=locals.urls.services%>/approvals/users">Manage users</a> followed by add services.</p>

        <h2 class="heading-medium">
            Become an approver
        </h2>

        <p>To set up the first approver at your organisation, you will need to send an email to the <a href="/contact/approver/new-approver">Service Team</a>.</p>

        <p>An existing approver can make a user an approver by accessing the individual's account from <a href="<%=locals.urls.services%>/approvals/users">Manage users</a>.</p>

        <details>
            <summary><span class="summary">Still having problems?</span></summary>
            <div class="panel panel-border-narrow">
                <p>If you are still having problems, please <a href="/contact/submit?type=approver">submit a support request</a>.</p>
            </div>
        </details>
    </div>
</div>
