<div class="row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            Service desk request sent
        </h1>
        <p>Thank you for submitting a request to the DfE Sign-in service desk.</p>
        <p>Your reference number is <strong><%=reference%></strong>.</p>
    </div>
</div>