<div class="row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            Service desk request sent
        </h1>
        <p>Thank you for submitting a request to the DfE Sign-in service desk.</p>
        <p>You will shortly receive an email confirming your request and reference number.</p>
    </div>
</div>
