<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            How to access Publish to the course directory
        </h1>
        <p>To access Publish to the course directory, you will need to <a href="https://coursedirectory.nationalcareersservice.org.uk/">contact the Publish to the course directory Support Team</a> and
            provide them with the following information.</p>

        <ul class="list list-bullet">
            <li>Your name</li>
            <li>Your job role or position</li>
            <li>The name of the organisation to which you belong</li>
        </ul>

        <p>Once you have received access to this service, you will find it on the ‘services’ page within
            DfE Sign-in.</p>
        <details>
            <summary><span class="summary">Still having problems?</span></summary>
            <div class="panel panel-border-narrow">
                <p>If you are still having problems, <a href="/contact/submit?type=course-directory">submit a support request</a>.</p>
            </div>
        </details>

    </div>
</div>
