<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Create a DfE Sign-in account
        </h1>

        <p>A DfE Sign-in account will allow you to access various online educational services for the organisations with which you are associated.</p>

        <h2 class="heading-medium">
            How to create a DfE Sign-in account
        </h2>
        <p>You can create an account in four simple steps.</p>
        <ul class="list list-number">
            <li>Select the <a href="<%=locals.profileUrl%>/register">create a DfE Sign-in account</a> link</li>
            <li>Enter your name and your email address (it’s best to use your work email address or one that is clearly associated with your organisation)</li>
            <li>We’ll send you an email to verify your email address; copy the code from this email and paste it into the box on the verification page</li>
            <li>Create a memorable password (we recommend joining three or more familiar words)</li>
        </ul>
        <p>Once you have created an account, you can request access to your organisation and the services you need for your role.</p>
        <h2 class="heading-medium">
            What is an approver?
        </h2>
        <p>You might have noticed the term ‘approver’ during your account creation.</p>
        <p>An approver is someone at your organisation responsible for controlling who has access to DfE Sign-in and the services within the system.</p>
        <p>It is usually a senior person, such as an administrator, manager, or headteacher.</p>
        <p>For security reasons you will need the approval of your organisation’s approver before you can access services.</p>

        <h2 class="heading-medium">
            How can I find a relevant approver?
        </h2>
        <p>Once you add your organisation to your account, you can find a list of all recognised approvers under the organisation section of your DfE Sign-in account.</p>
        
        <details>
            <summary><span class="summary">Still having problems?</span></summary>
            <div class="panel panel-border-narrow">
                <p>If you are still having problems, please <a href="<%= locals.service ? `/contact/submit?type=service-access&service=${locals.service.name}` : "/contact/submit?type=create-account"%>">submit a support request</a>.</p>
            </div>
        </details>
    </div>
</div>
