<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Create a DfE Sign-in account
        </h1>

        <p>A DfE Sign-in account will allow you to access DfE online services. An approver at your organisation will
        need to create an account for you.</p>

        <h2 class="heading-medium">
            What is an approver?
        </h2>
        <p>An approver can create user accounts, add and remove services and update roles within organisations.</p>

        <h2 class="heading-medium">
            Find an approver
        </h2>
        <p>Approver contact details can be provided by: </p>
        <ul class="list list-bullet">
            <li>the headteacher</li>
            <li>the administration team</li>
            <li>the account manager</li>
        </ul>

        <h2 class="heading-medium">
            There are no approvers at my organisation
        </h2>
        <p>If there are no approvers at your organisation, an approver can be assigned by sending a signed letter to the <a href="/contact/approver/new-approver">Service Team</a>.</p>

        <details>
            <summary><span class="summary">Still having problems?</span></summary>
            <div class="panel panel-border-narrow">
                <p>If you are still having problems, please <a href="<%= locals.service ? `/contact/submit?type=service-access&service=${locals.service.name}` : "/contact/submit?type=create-account"%>">submit a support request</a>.</p>
            </div>
        </details>
    </div>
</div>
