<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Change your email or password
        </h1>

        <h2 class="heading-medium">
            Change your password
        </h2>
        <p>You can change your password at any time in your <a href="<%=locals.urls.profile%>">profile</a>.</p>

        <h2 class="heading-medium">Change your email</h2>
        <p>You can change your email address at any time in your <a href="<%=locals.urls.profile%>">profile</a>. Once you have changed your email address
            you will receive a verification email to the new address for activation.
            For security an email will also be sent to your old email as a request for change.</p>

        <h2 class="heading-medium">Forgotten your password</h2>
        <p>If you are unable to access DfE Sign-in due to forgetting your password. You can reset your password
            at any time from the link <a href="<%=locals.urls.services%>/auth">Forgotten your password?</a>.</p>

        <h2 class="heading-medium">Verification email</h2>
        <p><a href="verification-email">I didn't receive a verification email</a>. You will receive a verification email when you change your email or reset your password.</p>

        <details>
            <summary><span class="summary">Still having problems?</span></summary>
            <div class="panel panel-border-narrow">
                <p>If you are still having problems, please <a href="/contact/submit?type=email-password">submit a support request</a>.</p>
            </div>
        </details>
    </div>
</div>
