<span class="js-back-link"></span>
<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">Frequently asked questions</h1>

        <dl class="simple">


            <dt>How do I get access to my services through DfE Sign-in?</dt>
            <dd>For information of how to get access to your services please follow this link - <a href="https://services.signin.education.gov.uk/">https://services.signin.education.gov.uk/</a></dd>

            <dt>What do I do if I already have multiple Secure Access accounts?</dt>
            <dd>You will still need to enter your Secure Access Username and password for each of your Secure Access accounts - you will then be able to merge these together.</dd>

            <dt>What will happen to Secure Access?</dt>
            <dd>Over the next few months individual services are moving from Secure Access to DfE Sign-in. During this period, some services will use DfE Sign in and others will still be using Secure Access. Once all digital services have been moved off Secure Access, it will be switched off completely and DfE Sign-in will be the only way to access your services.</dd>

            <dt>How do I get a Secure Access account or have my account unarchived?</dt>
            <dd>For all queries regarding Secure Access accounts please contact us here - <a href="mailto:SA.SERVICEDESK@education.gov.uk">SA.SERVICEDESK@education.gov.uk</a></dd>

            <dt>How do I reset my Secure Access password?</dt>
            <dd>To reset your Secure Access password please follow the link through <a href="https://sa.education.gov.uk/idp/Authn/UserPassword" target="_blank">https://sa.education.gov.uk/</a></dd>

        </dl>
        <hr>
        <p>If you need further assistance, you can <a href="/contact/form">submit a support request</a>.</p>

    </div>
</div>

