<span class="js-back-link"></span>
<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">Frequently asked questions</h1>

        <dl class="simple">

            <dt>How do I create a new DfE Sign-in account?</dt>
            <dd>To create an account you will need to contact one of the <a href="<%=locals.urls.services%>/organisations">approvers</a> at your organisation.
                If you do not know who this person is, please contact the head of your organisation.</dd>

            <dt>Who is my approver?</dt>
            <dd>Your approver’s details can be found in the <a href="<%=locals.urls.services%>/organisations">My Organisations</a> section of your DfE Sign-in account.</dd>

            <dt>I am an Approver for my organisation, how do I create an account for my colleague?</dt>
            <dd>Approvers can add or edit user accounts for their organisation, including adding access to new services.
                To do this please sign-in and go to the <a href="<%=locals.urls.services%>/approvals/users">Users</a> tab.</dd>

        </dl>
        <a class="button button-start" href="<%=locals.urls.services%>" role="button">Start now</a>
        <hr>
        <p>If you need further assistance, you can <a href="/contact/form">submit a support request</a>.</p>

    </div>
</div>

