<span class="js-back-link"></span>
<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">Frequently asked questions</h1>

        <dl class="simple">


            <dt>How do I get access to my services through DfE Sign-in?</dt>
            <dd>So that we know who you are, you will be asked to:</dd>
            <dd>
                <ul class="list list-bullet">
                    <li>Enter your Secure Access Username and password.</li>
                    <li>Then you will be asked to confirm the email address you want to use on this account.</li>
                    <li>We will then send you a verification code by email. Once you have entered this code you will be asked to enter a password of your choosing; this will complete the creation of your DfE Sign-in account.</li>
                    <li>You can now use your email address and password to login to DfE Sign-in.</li>
                </ul>
            </dd>
            <dt>What do I do if I already have a DfE Sign-in account?</dt>
            <dd>You will still need to enter your Secure Access Username and password to merge your accounts together. All you need to do is enter the email address you already have assigned to your DfE Sign-in account and follow the steps.</dd>

            <dt>What will happen to Secure Access?</dt>
            <dd>Over the next few months individual services are moving from Secure Access to DfE Sign-in. During this period, some services will use DfE Sign in and others will still be using Secure Access. Once all digital services have been moved off Secure Access, it will be switched off completely and DfE Sign-in will be the only way to access your services.</dd>
            
            <dt>How do I create new users?</dt>
            <dd>New users can only be created in Secure Access. Any new accounts you create will appear in DfE Sign-in the next day. When Secure Access is switched off you will be able to create accounts in DfE Sign-in.</dd>

            <dt>How do I give a user access to Services?</dt>
            <dd>Changing which services a user can access should still be done in Secure Access. You will need to wait until the next day to see this change reflected in DfE Sign-in.</dd>

            <dt>How do I reset my password?</dt>
            <dd>On the DfE Sign-in homepage, select ‘I’ve forgotten my password’ and enter your email address. An email will be sent which will allow you to reset your password. To reset your Secure Access password please follow the link through <a href="https://sa.education.gov.uk/idp/Authn/UserPassword" target="_blank">https://sa.education.gov.uk/idp/Authn/UserPassword</a></dd>

            <dt>I am already using separate email addresses for my accounts, how do I merge them together?</dt>
            <dd>You will need to contact the helpdesk using the webform below, providing us with the Secure Access username and DfE Sign-in account email address of the account you wish to merge (this is the account with the email address you’d rather not use anymore). We will then send you further instructions on how to merge your DfE Sign In accounts. </dd>

        </dl>
        <hr>
        <p>If you need further assistance, you can <a href="/contact/form">submit a support request</a>.</p>

    </div>
</div>

