<span class="js-back-link"></span>
<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">Frequently asked questions</h1>

        <dl class="simple">


            <dt>What is DfE Sign-in?</dt>
            <dd>"DfE Sign-In" is a secure way to access DfE digital services. It enables users to access a number of DfE services from the same location using the same credentials. It will replace Secure Access.</dd>

            <dt>When will it replace Secure Access?</dt>
            <dd>Over the summer individual services are moving from Secure Access to DfE Sign-in. During this period, some services will use DfE Sign in and others will still be using Secure Access. Once all digital services have been moved off Secure Access, it will be switched off completely and DfE Sign-in will be the only way to access your services.</dd>

            <dt>How do I know if the service I want is on DfE Sign-in or Secure Access?</dt>
            <dd>To avoid confusion, both DfE Sign-In & Secure Access contain the same list of services to which you have access. Login to either and select the service you require. You will either enter the service you wanted, or redirected to login via the other solution. Over the next few months everything will migrate to DfE Sign-In and this issue will cease.</dd>

            <dt>How do I create a DfE Sign-in account?</dt>
            <dd>So that we know who you are, you will be asked to enter your Secure Access Username and password.
            Then you will be asked to confirm the email address you want to use on this account and to create a password.
            We will then send you a verification code by email. Entering this code will complete the creation of your DfE Sign-in account.
                You can now use your email address and password to login to DfE Sign-in, but you will still need your old Secure Access credentials to access services there.</dd>

            <dt>How do I create new users?</dt>
            <dd>New users can only be created in Secure Access. Any new accounts you create will appear in DfE Sign-in the next day. When Secure Access is switched off you will be able to create accounts in DfE Sign-in.</dd>

            <dt>How do I give a user access to Teacher Services?</dt>
            <dd>Changing which services a user can access should still be done in Secure Access. You will need to wait until the next day to see this change reflected in DfE Sign-in.</dd>

            <dt>How do I reset my password?</dt>
            <dd>On the DfE Sign-in homepage, select ‘I’ve forgotten my password’ and enter your email address. An email will be sent which will allow you to reset your password. To reset your Secure Access password please follow the link through <a href="https://sa.education.gov.uk/idp/Authn/UserPassword" target="_blank">https://sa.education.gov.uk/idp/Authn/UserPassword</a></dd>


            </dt>
            <hr>
            <p>If you need further assistance, you can <a href="/contact/form">submit a support request</a>.</p>

    </div>
</div>