<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Request to set up a new approver
        </h1>

        <p>In order for us to set up the first approver at your organisation, we require an email from the head or senior individual of your organisation.</p>

        <p>Please ensure the following information is detailed in the email.</p>

        <ul class="list list-bullet" style="margin-bottom: 0">
            <li>approver's name</li>
            <li>approver's email address</li>
            <li>organisation name</li>
            <li>organisation URN, UKPRN or DfE Number</li>
        </ul>

        <p style="margin-top: 1.25em;">Once you have compiled this information email it to: <a href="mailto:SA.DFESIGNIN@education.gov.uk">SA.DFESIGNIN@education.gov.uk</a></p>
    </div>
</div>
