<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Approver Request
        </h1>

        <p>To set up the first approver at your organisation please forward an email from the head or senior individual of your organisation to,
            <a href="mailto:NewApprover.DFESIGNIN@education.gov.uk">NewApprover.DFESIGNIN@education.gov.uk</a>.</p>

        <p>Please ensure the following information is detailed in the email.</p>

        <ul class="list list-bullet" style="margin-bottom: 0">
            <li>approver's name</li>
            <li>approver's email address</li>
            <li>organisation name</li>
            <li>organisation URN, UKPRN or DfE Number</li>
        </ul>
    </div>
</div>
