<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Request to set up a new approver
        </h1>

        <p>To set up an approver for your organisation please provide a <b>headed, signed letter</b> from the head of your organisation e.g. Headteacher
        to the Service Team with the following details:</p>

        <ul class="list list-bullet" style="margin-bottom: 0">
            <li>approver's name</li>
            <li>approver's email address</li>
            <li>organisation name</li>
            <li>organisation URN or DfE Number</li>
        </ul>

        <details>
            <summary><span class="summary">How to find your URN or DfE number</span></summary>
            <div class="panel panel-border-narrow">
                <p>To find your URN or DfE number please visit:</p>
                <p><a href="https://get-information-schools.service.gov.uk">https://get-information-schools.service.gov.uk</a></p>
            </div>
        </details>

        <p style="margin-top: 1.25em;">Once you have complied this information email it to: <a href="mailto:dfe.signin@education.gov.uk">dfe.signin@education.gov.uk</a></p>
    </div>
</div>
