<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Verification Email
        </h1>

        <p>Check your spam/junk folders within your inbox, as sometimes emails will go straight to these folders. </p>
        <p>If the email is not there, please ask your organisation's IT department to ensure emails are not blocked from:
        <b>dfe.signin@education.gov.uk</b>.</p>

        <details>
            <summary><span class="summary">Still having problems?</span></summary>
            <div class="panel panel-border-narrow">
                <p>If you are still having problems, please <a href="<%= locals.service ? '/contact/submit?type=service-access&service=' + locals.service.name : '/contact/submit' %>">submit a support request</a>.</p>
            </div>
        </details>
    </div>
</div>
